$primaryRed: rgba(217, 14, 50, 1);
$primaryDarkRed: rgba(166, 9, 51, 1);
$primaryDark: rgba(40, 40, 40, 1);
$primaryLightGrey: rgba(243, 246, 248, 1);
$textBlack: rgba(41, 49, 72, 1);
$textDarkGrey: rgba(41, 49, 72, 0.8);
$textGrey: rgba(41, 49, 72, 0.6);
$textLightGrey: rgba(41, 49, 72, 0.45);
$textLineGray: rgba(228, 228, 228, 1);
$textWhite: rgba(255, 255, 255, 1);
$textWhite45: rgba(255, 255, 255, 0.45);
$textWhite20: rgba(255, 255, 255, 0.2);
$secondaryDarkRed: rgba(89, 5, 28, 1);
$secondaryLightRed: rgba(232, 110, 132, 1);
$secondaryBlue: rgba(120, 149, 255, 1);
$secondaryGreen: rgba(127, 199, 94, 1);
$secondaryGrey: rgba(237, 237, 237, 1);